* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: black;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: #27292e;
  font-family: monospace;
}

@media (pointer: coarse) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
